.challenges-index__container  {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}

.challenges-index__filter-container {
    color: white;
    font-family: "Nobile";
    margin: auto;
}

#challenges-index__filter-checkbox {
    margin-left: 15px;
}

.challenges-index__search-container {
    grid-column: 2 /3;
    margin-bottom: 10px;
    text-align: center;
}

.challenges-index__search-container > input {
    border-radius: 5px;
    font-family: "Nobile";
    font-size: 15px;
    height: 30px;
    padding-left: 10px;
    width: 90%;
}

.challenges-index__create-challenge-container {
    grid-column: 3/4;
    text-align: center;
    margin-top: 10px;
}

.challenges-index__create-challenge-link {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
    color: black;
    font-family: "Mako";
    font-size: 13px;
    padding: 10px;
    text-decoration: none;
}

.challenges-index__create-challenge-link:hover {
    background-color: #001489;
    color: white;
}