.challenge__card {
    background-color: #B5D2DC;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    color: white;
    grid-column: 1fr;
    height: 200px;
    margin: 0 10px 10px;
    padding: 40px;
    text-align: center;
}

.challenge__card:hover {
    background-color: white;
    color: purple;
}

.challenge__card--link {
    color: white;
    text-decoration: none;
}

.challenge__card--link:visited {
    color: #4E008E;
    text-decoration: none;
}

.challenge__card--link:hover {
    color: purple;
}