.friend-show-div {
    background-color: #B5D2DC;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 80%;
}

.friend-headline {
    font-family: "Nobile";
    grid-column: 1/3;
    padding: 20px;
}

.friend-headline > button {
    background-color: #001489;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px grey;
    color: white;
    font-family: "Mako";
    font-size: 13px;
    padding: 4px 20px;
}

.friend-headline > button:hover {
    background-color: red;
}

.friend-challenges-div {
    display: grid;
    grid-column: 3/7;
    grid-template-columns: 1fr 1fr 1fr;
}

.friend-challenges-div > h3{
    font-family: "Nobile";
    grid-column: 1/4;
}

.friend-challenge-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    grid-column: 1fr;
    height: 200px;
    margin: 20px;
    padding: 10px;
}

.friend-challenge-card > a {
    color: blue;
    text-decoration: none;
}