.main-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 100px;
  grid-auto-rows: minmax(100px, auto);
}

.navbar {
  text-align: center;
  background-color: yellow;
  width: 100%;
  position: absolute;
  top: 0;
}

.challenge-list {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.challenge-card {
  grid-column: 1fr;
  border: 1px solid black;
  padding: 40px;
  margin-left: 10px;
}

.loginform {
  grid-column-start: 4;
  grid-column-end: 6;
  border: 1px solid black;
  text-align: center;
  height: 200px;
  display: inline-block;
  margin-right: 10px;
}

#username,
#password {
  display: block;
  margin: auto;
}

#submit {
  margin: 5px;
}
