body {
  background-color: #3399cc;
  padding-top: 100px;
}

h1 {
  font-family: "Allerta Stencil";
}

p {
  font-family: "Mako";
}

.error {
  color: red;
}

.navbar {
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #001489;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navbar > ul {
  list-style-type: none;
  margin: auto;
}

.navbar > ul > li {
  display: inline;
  padding: 20px;
}

.navbar > ul > li > a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.navbar > ul > li > a:hover {
  color: black;
  background-color: white;
}

.loggedout-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.small-challenge-list-div {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-left: 10px;
}

.loginform {
  grid-column-start: 4;
  grid-column-end: 6;
  border: 1px solid black;
  text-align: center;
  height: 200px;
  display: inline-block;
  padding: 40px;
  margin-right: 10px;
  background-color: #B5D2DC;
}

#username,
#password, #bio {
  display: block;
  margin: auto;
}

#submit {
  margin: 5px;
}

.challenge-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 10px;
}

.search {
  grid-column: 1 /4;
  margin-bottom: 10px;
  text-align: center;
}

.search > input {
  height: 30px;
  width: 40%;
  font-family: "Mako";
  font-size: 15px;
  padding-left: 10px;
}

.challenge-card {
  grid-column: 1fr;
  border: 1px solid black;
  padding: 40px;
  background-color: #B5D2DC;
  color: white;
  text-align: center;
  height: 200px;
}

.challenge-card > a {
  text-decoration: none;
  color: white;
}

.challenge-card > a:visited {
  text-decoration: none;
  color: purple;
}

.challenge-card:hover {
  background-color: white;
  color: purple;
}

.challenge-card:hover > a {
  color: purple;
}

.challenge-show {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: #B5D2DC;
  border: 1px solid black;
  height: 400px;
  width: 90%;
  margin: 10px auto auto auto;
  padding: 10px 20px 20px 20px;
}

.challenge-show > h1 {
  margin: auto;
  grid-column: 1 / 3;
  grid-row: 1/3;
}

.show-buttons {
  grid-column: 4 / 5;
  text-align: right;
}

.links-div {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  margin: auto;
}

.log-in-reminder {
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.basic-info {
  grid-column: 1fr;
  text-align: center;
}

.edit-user-form {
  grid-column: 1fr;
  border: 1px solid black;
  text-align: center;
  height: 200px;
  background-color: #B5D2DC;
  padding: 10px;
  margin-right: 20px;
}

.my-challenges-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.my-challenges {
  grid-column: 1fr;
  text-align: center;
  background-color: #B5D2DC;
  border: black 1px solid;
  margin: 0px 20px 20px 20px;
  height: 400px;
  overflow: auto;
}

.my-challenges > p {
  height: 50px;
  margin: auto;
}

.my-challenges > p:hover {
  background-color: white;
  color: white;
}

.my-challenge-show-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #B5D2DC;
  margin: 0 20px 0 20px;
  padding: 20px;
  border: 1px solid black;
}

.my-challenge-headline {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 10px;
}

.links-div {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 30px;
}

.helpful-resources-div {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
  height: 300px;
}

.my-challenge-show-div > div > p > a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.my-challenge-form-div {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}

.my-challenge-form {
  padding: 10px;
}

.my-challenge-form > input {
  display: block;
  margin: auto;
}

.finished-links {
  width: 300px;
}
